.book-container {
  height: 600px;
  width: 1200px;
  font-family: "Roboto", sans-serif;
  background-color: black;
  border: solid 10px grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #020000;
}

.card-element {
  background-color: aqua;
  width: 90%;
  text-align: center;
  margin: 25px 0px;
}

.add-book-button {
  width: 120px;
  height: 60px;
  background-color: rgb(209, 51, 51);
  border: solid 3px;
  font-size: 15px;
  font-weight: 900;
}

.author-element {
}

.title-element {
}

.pages-element {
}

.read-element {
}

.id-element {
}
